body{
		background-color:lightgreen;
}

h1{
  text-align: center;
}

img{
		width:200px;
}

.dancing-script-<uniquifier> {
}

p{
	color:black;
	 font-family: "Dancing Script", cursive;
}
.navbar{
  

}
