/* CSS is very useful as we use for styling, designing and colouring by linking id and classes. */

#topic_div{ /*Any content between the body tags will be affected.*/
	background-color:hsl(186, 72%, 94%); /* Used this specific code from Jiisna */
}

#Title_Subtitle{
	text-decoration: underline 1px; /*Creates an underline under the paragraph text.*/
}

#Title_Heading, /*Moves both the title and substitle to the center*/
#Title_Subtitle{
	text-align: center;
}

#MainImageDisplay{
}

#SecondaryImageDisplay{
}

#paragraph-description-text /* Modifies the paragraphs, making them look more stylish. */
{
 font-family: "Open Sans", sans-serif;
}

#and-text /* Same thing applies for the "and...". */
{
 font-family: "Open Sans", sans-serif;
}

#author_credit /*Essentially creates a text-box for the author with various styles to it*/
{
  border: 4px solid DeepSkyBlue; /* */
  border-style: dotted;
  background-color: AliceBlue;
  color: black;
  position: relative;
  left: 1280px;
  bottom: 80px;
  padding: 10px;
  width: 250px;
}

#Content
{
  position: absolute;
  width: 120px;
  top: 210px;
  left: 8px;
  border: 4px solid DeepSkyBlue;
  border-style: double;
  background-color: AliceBlue;
}

#content_bar
{
 position: relative;
  left: 4px;
}

/* Exclusively to credits.html*/
#Title-Contribute
{
	text-align: center;
}



.custom-popover{
   background-color: #111111;
}

#navbar_logo:hover:hover:not(.active) {
  background-color: #111111;
}

#navbar_logo.active {
  background-color: #04AA6D;
}

#navbar-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#nav-item, 
#gallery {
	color: white;
}


#navbar.#a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar.a:hover:not(.active) {
  background-color: #111111;
}

#navbar.a.active {
  background-color: #04AA6D;
}

.open-sans-<uniquifier> {
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
	font-family: "Open Sans", sans-serif;
}

.navbar{
  

}

