/* Jisna's css for About and Facts section */


body{
    
}

      /*background color code from w3school*/
#body1{
	background-color:hsl(186, 72%, 94%);
}
#body{
	background-color:hsl(186,82%,93%);
}


h1{
	text-align: center;
	text-shadow:2px 2px 4px #000000
}

#navbar_logo:hover:hover:not(.active) {
  background-color: #111111;
}

#navbar_logo.active {
  background-color: #04AA6D;
}

#navbar-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#nav-item, 
#gallery {
	color: white;
}


#navbar.#a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar.a:hover:not(.active) {
  background-color: #111111;
}

#navbar.a.active {
  background-color: #04AA6D;
}

.open-sans-<uniquifier> {
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p{
	color:black;
	font-family: "Open Sans", sans-serif;
}

.navbar{
  

}

/*border style used to add border to each subtopic*/

.h3about{
	border-style:outset;
}

.target{
	border-style:outset;
}
.contribution{
	border-style:outset;
}
.goals{
	border-style:outset;
}
.involve{
	border-style:outset;
}

.cardtext-center {
	text-align:center;
	padding:3px;
	background-color:lightblue;
	color:white;
}

.card-header{
	color:white;
	font-family:funnel Sans;
}

.card-text{
	font-style: italic;
	font-size:16px;
	
}
.cardtext-center{
	padding:10px;
	border-style:groove;
}

.container{
	padding-top:50px;
		
}
.mission{
	border-style:outset;
}
.intro{
	padding-bottom:10px;
}
.intro1{
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

